<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.contactpigeon.fbsdkconsumerplugin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>fbsdkconsumerplugin</name><js-module name="fbsdkconsumerplugin" src="www/fbsdkconsumerplugin.js"><clobbers target="cordova.plugins.fbsdkconsumerplugin" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="fbsdkconsumerplugin"><param name="android-package" value="com.contactpigeon.fbsdkconsumerplugin.FBSDKConsumerPlugin" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml" /><source-file src="src/android/FBSDKConsumerPlugin.java" target-dir="src/com/contactpigeon/fbsdkconsumerplugin" /><source-file src="src/android/CPConnectionService.java" target-dir="src/com/contactpigeon/fbsdkconsumerplugin" />
    <source-file src="src/android/CPMainParameters.java" target-dir="src/com/contactpigeon/fbsdkconsumerplugin" />
    <source-file src="src/android/PrefUtils.java" target-dir="src/com/contactpigeon/fbsdkconsumerplugin" />
    <framework src="com.google.code.gson:gson:2.8.1" /></platform></plugin>
